body,
html {
    margin: 0;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
    background-color: black;
    font-family: Calibri, sans-serif !important;
}

html {
    white-space: nowrap;
}

body {
    overflow-x: hidden;
    display: inline-block;
}

#menu{
    display: none;
}

/*DESKTOP*/
@media screen and (min-width :1024px) {

    .header-button {
        font-family: Calibri, sans-serif !important;
        font-size: 16px;
        background-color: transparent;
        color: aliceblue;
        width: 165px;
        height: 45px;
        border: 1px solid aliceblue;
        text-transform: uppercase;
        margin: 10px 0 0 55px;

    }

    .header-button:hover {
        cursor: pointer;
        border: 1px solid aliceblue;
    }

    .nav-bar{
        display: flex;
        float: right;
    }

    .nav-bar-list{
        list-style: none;
        display:flex;
        flex-direction: row;
        column-gap: 35px;
        width: 340px;
    }

    .nav-bar-item{
        cursor: pointer;
    }

    .nav-bar-item-clicked {
        text-decoration: underline;
    }

    .title {
        font-size: 22px;
        margin: 95px 0 0 55px;
        font-family: Calibri, sans-serif !important;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        letter-spacing: -0.035em;
    }

    .main-content {
        display: flex;
        flex-direction: row;
        column-gap: 300px;
    }
   

    .text-cont{
        display: flex;
        width: 200px;
        height:auto;
        height: fit-content;
        margin-left: 55px;

    }

    .content-designer{
        position: absolute;
        display: grid;
        background-color: black;
        grid-template-rows: 50% 50%;
        bottom:80px;
        right: 100px;
        padding: 5px 20px;
        color: white;
    }

    .avatar-img{
       width: 50px;
       height: 50px;
       border-radius: 25px;
    }

    .designer-info{
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .designer-info >h4{
        font-size: 22px;
    } 

    .designer-desc{
        display: grid;
        grid-template-rows: auto auto;
    }


    .img{
        width: 600px;
        height: 400px;
    }

    .footer {
        bottom: 0;
        width: 100%;
        text-align: center;
        position: absolute;
        color:#BDBDBD;
        font-size: 20;
    }

    .mobile-menu{
        display: none;

    }
}

/*TABLET*/
@media screen and (max-width:1024px) and (min-width:768px) {
   .header-button {
        font-family: Calibri, sans-serif !important;
        font-size: 16px;
        background-color: transparent;
        color: aliceblue;
        width: 165px;
        height: 45px;
        border: 1px solid aliceblue;
        text-transform: uppercase;
        margin: 10px 0 0 55px;

    }

    .header-button:hover {
        cursor: pointer;
        border: 1px solid aliceblue;
    }

    .nav-bar{
        display: flex;
        float: right;
    }

    .nav-bar-list{
        list-style: none;
        display:flex;
        flex-direction: row;
        column-gap: 35px;
        width: 340px;
    }

    .nav-bar-item{
        cursor: pointer;
    }

    .nav-bar-item-clicked {
        text-decoration: underline;
    }

    .title {
        font-size: 22px;
        margin: 95px 0 0 55px;
        font-family: Calibri, sans-serif !important;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        letter-spacing: -0.035em;
    }

    .main-content {
        display: flex;
        flex-direction: row;
        column-gap: 300px;
    }
   

    .text-cont{
        display: flex;
        width: 200px;
        height:auto;
        height: fit-content;
        margin-left: 55px;

    }

    .content-designer{
        position: absolute;
        display: grid;
        background-color: black;
        grid-template-rows: 50% 50%;
        bottom:80px;
        right: 100px;
        padding: 5px 20px;
        color: white;
    }

    .avatar-img{
       width: 50px;
       height: 50px;
       border-radius: 25px;
    }

    .designer-info{
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .designer-info >h4{
        font-size: 22px;
    } 

    .designer-desc{
        display: grid;
        grid-template-rows: auto auto;
    }


    .img{
        width: 600px;
        height: 400px;
    }

    .footer {
        bottom: 0;
        width: 100%;
        text-align: center;
        position: absolute;
        color:#BDBDBD;
        font-size: 20;
    }

    .mobile-menu{
        display: none;
    }
}

/*MOBILE*/
@media screen and (max-width:768px) {
    .header-button {
        font-family: Calibri, sans-serif !important;
        font-size: 12px;
        background-color: transparent;
        color: aliceblue;
        width: 145px;
        height: 35px;
        border: 1px solid aliceblue;
        text-transform: uppercase;
        margin: 10px 0 0 25px;

    }
    
    .header-button:hover {
        cursor: pointer;
    }

    .nav-bar{
        display:none;
    }


    .title {
        font-size: 22px;
        margin: 15px 0 0 25px;
        font-family: Calibri, sans-serif !important;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        letter-spacing: -0.035em;
    }


    .text-cont{
        display: flex;
        width: 200px;
        font-size: 20px;
        height:auto;
        height: fit-content;
        margin-left: 25px;

    }

    .content-designer{
        display: grid;
        position: fixed;
        background-color: black;
        grid-template-rows: 50% 50%;
        padding: 5px 20px;
        height: 110px;
        color: white;
        margin-top: -65px;
        margin-left: 25%;
        width: 45%;
    }

    .avatar-img{
       width: 50px;
       height: 50px;
       border-radius: 25px;
    }

    .designer-info{
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .designer-info >h4{
        font-size: 22px;
    } 

    .designer-desc{
        display: grid;
        grid-template-rows: auto auto;
    }

    .content-img > .img{
        display: flex;
        align-items: center;
    }
    .img{
        min-width: 95%;
        height: 230px;
        margin: auto;
    }

    .footer {
        bottom: 0;
        width: 100%;
        text-align: center;
        position: absolute;
        color:#BDBDBD;
        font-size: 20;
    }

      .mobile-menu {
        overflow: hidden;
        position: relative;
      }
      
      .mobile-menu #mobile-menu-list {
        display: none;
      }

      .mobile-menu-list{
        padding: 0;
        height: 100vh;
      }
      
      .mobile-menu .mobile-menu-list-item {
        cursor: pointer;
        color: white;
        padding:10px 0;
        text-decoration: none;
        font-size: 20px;
        display: block;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 0.1px aliceblue solid;
      }
      
      .mobile-menu .mobile-menu-list-item.mobile-menu-icon{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: white;
      }
      
      .mobile-menu .mobile-menu-list-item:hover {
        background-color: #ddd;
        color: black;
      }
 
      .mobile-menu-icon{
        position: fixed;
        right: 15px;
        top: 5px;
        cursor: pointer;
      }
}